.table-row {
  border-bottom: 1px solid var(--clr-light-gray);
}

.table-row.selected {
  background: var(--clr-light-gray);
}

.table-row td {
  padding: 1rem;
}

.table-row input {
  max-width: 100%;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid var(--clr-light-gray);
}

.table-row input:disabled {
  background: none;
  border: none;
}

.action-group {
  text-align: center;
}

.action-group span:not(:last-child) {
  margin-right: 0.5rem;
}

.action-group.hide {
  display: none;
}

.action {
  padding: 0.5rem;
  cursor: pointer;
}
