.table-footer {
  display: grid;
}

.table-footer-button {
  background: var(--clr-red);
  color: var(--clr-white);
  margin: 1rem auto;
}

@media screen and (min-width: 1024px) {
  .table-footer {
    grid-template-columns: auto 1fr;
  }

  .table-footer-button {
    margin-left: 0;
    margin-right: 0;
  }
}
