/* 
===============
css variables
===============
*/
:root {
  /* global colors */
  --clr-primary: blue;
  --clr-black: #444;
  --clr-white: #fff;
  --clr-red: #f14e4e;
  --clr-dark-gray: #aaa;
  --clr-light-gray: #ddd;

  /* fonts */
  --font-size: 0.875rem;
  --font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* 
===============
css resets
===============
*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--clr-black);
  font-family: var(--font-family);
}
